@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{  
    font-size: 100%;
    text-decoration: none;
    border: 0;
    margin:0;
    padding:0;
    box-sizing: border-box; 
    list-style: none;
}

body {
    line-height: 1;
    background-color: #171717;
    font-family: "Nunito Sans", sans-serif;
    color: #EDEDED;
}



/* ESTILOS COLORES Y FUENTES  */
/* Titulos h1 */

h1{
/* 
    font-size: 5.625rem;
    line-height: 5.625rem; */
    font-weight: 1000;

    font-style: oblique;
    
}

h2 {
    /* font-size: 3.75rem;
    line-height: 3.75rem; */
    font-weight: 1000;

    font-style: oblique;
}
h3{
    font-size: 3.75rem;
    font-weight: 800;
    line-height: 3.75rem;
    font-style:  oblique;
}
p,label{
    font-size: 1.875rem;
    font-weight: 600;
    line-height: 2.2rem;
    font-style:  normal;
}


.contenedorBackground{
    background-color: black;
    height: 100vh;
    width: 100%;
    
}
.contenedorPortada{

    height: 100%;
    background-image: linear-gradient(rgba(5,7,12,0.08), rgba(5,7,12,0.75)) ,url("../assets/img/portada.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;

    padding: 7.5rem 2.5rem;
    display: flex;
    justify-content: space-between;
    
}
.contenedorPortada div{
    align-self: flex-end;
    height: 25%;

}
.contenedorPortada div div{
    position: relative;
    border-top: 0.4rem double #a81516;
    border-left: 0.4rem double #a81516;
    border-bottom: 0.4rem double #a81516;
    height: 12rem;
    width: 21.5rem;
    top: -10.5rem;
    left: -1rem;
} 





/* Barra de navegacion */
nav ul{
    height: 90px;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 3fr;
    grid-template-rows: none;
    justify-items: center;
    align-items: center;
    background-color: black;

}
/* Elementos de la lista de la barra de navegacion */
nav ul li a{
    font-family: "Nunito Sans", sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: #EDEDED;
    &:visited, &:focus { color:#EDEDED; }
    &:hover, &:active {color:#DA0037;}

    
}
nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
    height: 50px;
    &:last-child{
        justify-self: end;
        margin-right: 4vw;
        a{
            &:hover, &:active {color:white;}  
        }
    }
}

nav ul li a img, footer img {
        height: 90px;
}

.botonCitas{
    padding: 20px 10px;
    background-color:#a81516 ;
    text-align: center;
    border-radius: 5px;
    white-space: nowrap;

}


.changeColor{
    filter: invert(1);
    height: 200px;
}

/* Footer section */

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    
}
footer p{
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.25rem;
}




/* -------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */


.conocenosBackground{
    background-image:linear-gradient(rgba(5,7,12,0.08), rgba(5,7,12,0.75)) , url("../assets/img/equipo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.conocenosBackground h1{
    width: 80%;
    font-size: clamp(3.5rem, 6vw, 7rem);
}

.conocenosDescription {
    width: 90%;
    margin: 4rem auto;
}

.conocenosDescription p{
    font-size: clamp(1.25rem, 2vw, 1.75rem) ;
    line-height: clamp(1.75rem, 2vw, 2.25rem) ;
}

.conocenosSection{
    display: flex;
    gap: 1.5rem;
    width: 100%;
    height: auto;
    justify-content: space-around;
    padding-bottom: 3rem ;
    flex-wrap: wrap;
}

.conocenosSection article{

    max-width: 25rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    margin-bottom: 2rem;
}
.conocenosSection article div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 25%;
    h2{
        font-size: clamp(2rem, 2.5vw, 2.5rem) ;
        padding: 1rem;
        text-align: center;
    }
}

.conocenosSection article p{
    font-size: clamp(1rem, 4vw, 1.5rem) ;
    line-height: clamp(1.5rem, 4vw, 2rem) ;
    min-height: 75%;
    text-align: justify;
    padding: 1.25rem;
}


/* -------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */


.tiendaBox{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax( 20rem,1fr) );

    width: 90%;
    gap: 1rem;
    margin: 0px auto;
    padding-bottom: 32px;
    
}
.tiendaBox div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    &:hover{
        outline: 2px solid #a81516;
        border-radius: 2px;
        p{
            background-image: linear-gradient(rgba(22, 22, 22, 0), #a81515e4);
        }
    }
    
}
.tiendaBox div img {
    width: 100%;
    height: 100%;
    grid-row: 1;
    grid-column: 1;
}
.tiendaBox div p {
    grid-row: 1;
    grid-column: 1;
    width: 45%;
    align-self: self-end;
    justify-self: self-end;
    border-top-left-radius: 0.125rem;
    text-align: center;
    padding-right: 0.25rem;
    padding-top: 0.125rem;
    padding-bottom: .125rem;
    background-image: linear-gradient(rgba(22, 22, 22, 0), rgba(0, 0, 0, 0.991));
}

.imageBox {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 400px;
    align-items: center;
    justify-content: center;

    div{
        height: 100%;
        width: 25%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    div h2{
        text-align: right;
        padding-right: 1rem;
    }

}



.serviciosMain{
    padding: 6rem 4rem;
    text-align: center;
    background-color: black;
}

.nuestrosServicios {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(2,auto);
    padding-top: 3rem;


}

.nuestrosServicios div{
    grid-column: span 2;
    width: auto;
    text-align: center;
    padding: 1rem;
    /* margin: 16px; */
}

.nuestrosServicios .nuestrosServiciosOdds{
    grid-column: -6/-4;

}




.seccion2Background{

    background-image: url("../assets/img/nuestroCompromiso.jpg");
    background-repeat: no-repeat;
    background-position: -400px -350px;
    background-size: cover;
    
    min-height: 50dvh;

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.seccion2Background h2{
    justify-self: self-start;
    text-align: left;
    width: 50%;
    margin-left: 2rem;
}

.seccion2Background div{
    display: flex;
    flex-direction: column;
    background-color: rgba(5,7,12,0.5);
    padding: 1rem 2rem;
}

.seccion2Background div h3{
    width: 66%;
}

.seccion2Background div h3, p{
    text-align: left;
}







/* SECCION PARA GENERAR CITA */
.seccionAgendar{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr ;
    padding: 1rem 0rem 2rem 0rem;
    
}

.seccionAgendar h2{
    align-self: center;
    width: 100%;
    margin-left: 2rem;
    
}



.formularioCitas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.4fr;
    grid-template-areas:
    "infCont InfAuto"
    "botones botones";

    align-items: start;
    justify-items: center;
    align-content: start;
    justify-content: center;
    gap: 0rem 5%;
    padding: 0rem 3%;
    margin: 0rem 3%;

}

.infoContacto{
    grid-area: infCont;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows:  2fr 1fr 1fr 1fr;
    grid-template-areas:
    "titulo titulo"
    "nombre nombreIn"
    "telefono telefonoIn"
    "correo correoIn";
    align-items: center;
    width: 90%;
}
.infoContacto h3{
    grid-area: titulo;
}
#nombre{
    grid-area: nombreIn;
}
#numero_tel{
    grid-area: telefonoIn;
}
#correo{
    grid-area: correoIn;
}
.nombreLabel{
    grid-area: nombre;
}
.telefonoLabel{
    grid-area: telefono;
}
.correoLabel{
    grid-area: correo;
}
.infoContacto label{
    justify-self: self-end;
    padding:1rem ;
}
.infoContacto input{
    justify-self: self-start;
}

.infoAuto{
    grid-area:InfAuto ;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 2fr repeat(4, 1fr);
    grid-template-areas:
    "titulo titulo"
    "modelo modeloIn"
    "motor motorIn"
    "ano anoIn"
    "aceite aceiteIn";
    align-items: center;
    width: 90%;
}
.infoAuto  p{
    
    padding:1rem ;
}
.infoAuto input{
    justify-self: self-start;
}
#modelo{
    grid-area: modeloIn;
}
#cilindros{
    grid-area: motorIn;
}
#year{
    grid-area: anoIn;
}
.aceiteDiv{
    grid-area: aceiteIn;
    justify-self: center;
}
.infoAuto h3{
    grid-area: titulo;
}
.modeloLabel{
    grid-area: modelo;
    justify-self: self-end;
    padding:1rem ;
}
.motorLabel{
    grid-area: motor;
    justify-self: self-end;
    padding:1rem ;
}
.yearLabel{
    grid-area: ano;
    justify-self: self-end;
    padding:1rem ;
}
.aceiteLabel{
    grid-area: aceite;
    justify-self: self-end;
    padding:1rem ;
}



.enviarDatosBotones{
    grid-area: botones;
    width: 100%;
    display: flex;
    gap: 2%;
    justify-content: center;
    padding-top: 3rem;

}
.titleCitas{
    padding: 3rem;
}
.citasMain{
    display: flex;
    flex-direction: column;
}
.citasBox{
    align-self: flex-end;
    justify-self: end;
    display: flex;
    margin: 1.25rem 0rem;
    padding: 1.25rem;
    border-radius: 30px 0px 0px 30px;
    background-color: #EDEDED;
    align-items: center;
    gap: 6%;
    width: 40dvw;
    height: 200px;
    
}
.citasBox p{
    color: #171717; 
}



input[type=reset], [type=submit]{
    padding: 0.9rem;
    background-color: #EDEDED;
    color: black;
    border-radius: 0.5rem;
    font-weight: 500;
    width: 15%;
    border: 2px solid white;
    &:hover{
        border:  2px solid  black;
    }

}
input[type=submit]{
    background-color: #a81516;
    color: #EDEDED;
    font-weight: 700;
    width: 25%;
    border: 2px solid #a81516;
    &:hover{
        border:  2px solid #EDEDED;
    }

}

input[type=text], [type=number], [type="email" ], [type="tel" ]{
    border:none;
    border-bottom:  2px solid white;
    border-radius: 8px;
    background-color: #171717;
    color: white;
    width: 80%;
    margin: 0.5rem;
    padding: 1rem;
    &:focus{
        outline: none;
        border:none;
        border-bottom:  2px solid rgb(94, 79, 234);
    }
    
}

select{
    border-radius: 8px;
    background-color: #EDEDED;
    color: black;
    width: 50%;
    height: 2rem ;
    margin: 0.5rem;
}


@media (max-width: 750px) {
    body header nav{
        display: none;
    }
    footer {
        flex-direction: column;
    }

}