.conocenosBackground{
    h1{
        width: 80%;
        @include textos(xxl,xxl,pesado);
    }
    background-image:linear-gradient(rgba(5,7,12,0.08), rgba(5,7,12,0.75)) , url("../assets/img/equipo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.conocenosDescription {
    width: 90%;
    margin:$space-xlg-2 auto;
    p{
        @include textos(s,s,ligero);
    }
}

.conocenosSection{
    display: flex;
    gap: $space-md;
    width: 100%;
    height: auto;
    justify-content: space-around;
    padding-bottom: $space-xlg;
    flex-wrap: wrap;
}

