.contenedorBackground{
    background-color: black;
    height: 100vh;
    width: 100%;
    .contenedorPortada{
        height: 100%;
        width: 100%;
        background-image: linear-gradient(rgba(5,7,12,0.08), rgba(5,7,12,0.75)) ,url("../assets/img/portada.png") ;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        justify-items: center;
        overflow: hidden;
        h1{
            flex:70;
            display: flex;
            align-items: center;
            @include textos(xl,xl,pesado);
            size: fit-content;
            padding-left: 4%;
        }
        div{
            flex:30;
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: center;
            padding-right: 3%;
            color: rgba(255, 255, 255, 0.055);
            transition: all 0.6s;
            &:hover{
                color: rgb(255, 255, 255);
            }
            
            p{
                @include textos(s,s,ligero);
                text-align: right;
            }
        }
    }
    
}

.imageBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        flex-shrink: 1;
        div{
            height: 20rem;
            width: 19.5rem;
            h2{
                align-self: center;
                width: 90%;
                margin: 0 auto;
                text-align: center;
                @include textos(l,l,pesado);

            }
        }

        img{
            
            height: 100%;
            width: 100%;
        }
        
    }
}

.seccionDosGrid{
    background-image: linear-gradient(rgba(5,7,12,0.08), rgba(5,7,12,0.75)) , url("../assets/img/compromiso.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50dvh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    h2{
        @include textos(l,l,medio-pesado);
        justify-self: self-start;
        text-align: left;
        width: 75%;
        margin-left: 2rem;
    }
    .seccion2Background{
        display: flex;
        flex-direction: column;
        background-color: rgba(5, 7, 12, 0.664);
        justify-content: center;
        border-radius: .25rem;
        padding: 1rem 5%;
        min-height: 75%;
        h3{
            @include textos(l,l,medio-pesado);
            padding: 2% 0;
            width: 80%;
        }
        p{
            @include textos(s,s,ligero);
            padding: 2% 0;
            width: 95%;
        }
    }
}

.seccionAgendar{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 2fr auto ;
    padding: 3rem 0rem 3rem 0rem;
    h2{
        padding: 1rem 0rem 3rem 0rem;
        align-self: center;
        justify-self: center;
        width: auto;
        text-align: center;
        @include textos(xl,xl,pesado)
        
    }
}




@media (max-width:750px){
    .contenedorBackground{

        .contenedorPortada{

            h1{
                flex:50;

            }
            div{
                flex: 50;
            }
        }
        
    }
    .seccionDosGrid {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        h2 {

            align-self: self-start;
            padding: 2rem 2.5rem;
            margin-left: 0rem;
        }
        .seccion2Background{
            text-align: center;
            h3{
                width: auto;
                margin: 0 auto;
            }
            p{
                width: auto;
                margin: 0 auto;
            }
        }

        
    }
}

