.conocenosSection article {
    max-width: 25rem;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: darken(map-get($map: $colores, $key: rojo), 20%);
    margin-bottom: 0.5rem;

    h2 { 
        flex: 25;
        @include textos(l,l,medio);
        padding: $space-md ;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    p {
        flex: 75;
        @include textos(s,s,ligero);
        text-align: justify;
        padding: $space-lg;
    }
}