.desktopNav {
    min-height: 5.625rem;

    input,
    label {
        display: none;
    }
    & > a img {
        display: none;
    }

    div {
        height: 100%;

        ul {
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            background-color: map-get($map: $colores, $key: negro);
            background: linear-gradient(-45deg, map-get($colores, negro)50%, darken(map-get($colores, blanco), 25%), darken(map-get($colores, negro), 3%));
            
            background-size: 500% 1000%;
            gap: 2.5rem;
            padding-left: $space-xlg;

            li {
                justify-content: center;
                align-items: center;

                &:last-child {
                    margin-left: auto;
                    margin-right: $space-xlg;
                    align-self: center;

                    a {

                        &:hover,
                        &:active {
                            color: map-get($map: $colores, $key: blanco);
                        }
                    }
                }

                a {
                    font-family: "Nunito Sans", sans-serif;
                    @include textos(m,m,medio-pesado);

                    color:map-get($map: $colores, $key: blanco);

                    &:visited,
                    &:focus {
                        color:map-get($map: $colores, $key: blanco);
                    }

                    &:hover,
                    &:active {
                        color: map-get($colores, rojo);
                    }

                    img {
                        height: 5.625rem;

                        &:hover {
                            filter: drop-shadow(2px 2px 10px map-get($colores, rojo));
                        }
                    }
                }
            }
        }
    }
}







@media (max-width: 750px) {
    
    .desktopNav {
        height: 4.9rem;
        position: relative;
        #toggle:checked~.menu {
            height: 100dvh;
            width: 100%;
        }
        & > a img {
            position: absolute;
            top: 1%;
            left: 42dvw;
            display: flex;
            height: 5.25rem;
            &:hover {
                filter: drop-shadow(2px 2px 10px map-get($colores, rojo));
            }
        }
        label {
            position: fixed;
            z-index: 20;
            display: flex;
            align-items: center;
            width: fit-content;
            margin: $space-sm;
            cursor: pointer;

            span {
                font-size: 3rem;
            }
        }

        div.menu {
            width: 100%;
            height: 0px;
            overflow: hidden;
            position: fixed;
            z-index: 10;

            ul {
                height: 100dvh;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-left: 0;
                padding-top: 8.5rem;

                li {
                    &:last-child{
                            margin-left: 0;
                            margin-right: 0;
                            align-self: center;
        
                    }
                    
                }
            }
        }
    }
}
