body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    line-height: 1;
    background-color: #020202;
    font-family: "Nunito Sans", sans-serif;
    color: #EDEDED;
}
html,body{
    width: 100%;
} 


