body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    line-height: 1;
    background-color: map-get($map: $colores, $key: negro);
    font-family: "Nunito Sans", sans-serif;
    color: map-get($map: $colores, $key: blanco);
}
html,body{
    width: 100%;
} 


